<!doctype html>
<html lang="">
  <head>
      {{ $baseurl := .Site.BaseUrl }} 
      <base href="{{$baseurl}}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>

    <!-- Add to homescreen -->
    <link rel="manifest" href="manifest.json">

    <!-- Fallback to homescreen for Chrome <39 on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="{{.Title}}">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{.Title}}">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <meta name="theme-color" content="#3372DF">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 
    <!-- Page styles -->
    <link rel="stylesheet" href="/styles/main.css">

  </head>
  <body>
          <div class="share home-menu">          
              <a href="http://facebook.com/35sympaty" target="_blank" class="facebook"><i class="fa fa-2x
                      fa-facebook-square"></i></a>

              <a href="http://github.com/tonyalaribe" target="_blank" class="github"><i class="fa fa-2x fa-github"></i></a>

              <a href="http://twitter.com/tonialaribe" target="_blank" class="twitter"><i class="fa fa-2x fa-twitter"></i></a>

              <a href="https://plus.google.com/+AnthonyAlaribe" target="_blank" class="gplus"><i class="fa fa-2x fa-google-plus"></i></a>
                
              <a href="mailto://anthonyalaribe@gmail.com" target="_blank" class=" hire"  >Hire <br/>Me</a>

          </div>
 
    <header class="header">
    <div>
        <h1 class="huge underlined"><a>{{.Title }}</a></h1>
      <div class="header-about-tags">
        <small>Programmer</small> |
        <small>Designer</small> |
        <small>Scientist</small>
      </div>
      <div class="g--half g--centered header-tags">
          <a style="text-decoration:none" href="{{$baseurl}}">All</a> 
        {{$data := .Data }}
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
         | <a style="text-decoration:none" href="/tags/{{ $name | urlize }}">{{$name}}</a>
        {{end}}
      </div>
    </div>
    </header>

    <nav class="navdrawer-container promote-layer">
    </nav>

    <main class="article-list">
      <br/>
      <br/>
      <br/>
      {{ range .Data.Pages }} 
      <article>
          <a href="{{.Permalink}}"><h2 class="xlarge underlined"> {{.Title }}
              </h2></a>
        <div class="article-tags">
            {{ range .Params.tags }} 
            <a href="/tags/{{ .| urlize }}" >{{.}}</a>
          {{end}}
        </div>
        <div class="article-content">
            {{.Summary}}
        </div><a href="{{.Permalink}}">read more...</a>
      </article>
      {{ end }} 
       
      
      
    </main>
    {{ partial "footer.html" }}
    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
