@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,300,400);
html {
    color: #222
}

a:hover {
    color: #06e
}

.dark{
  color:#021d15;
}

.dark:hover{
  color:#021d15;
}

pre{
  overflow:scroll;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important
}

body {
    position: relative;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-weight: 400;
    background-color: #fff;
    box-sizing: border-box;
    min-height: 100%
}

 .underlined {
    display: inline-block;
    position: relative;
}

.underlined:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: #0bac7c;
    -webkit-transition: width .5s ease, background-color .5s ease;
    transition: width .5s ease, background-color .5s ease
}

.underlined:hover:after {
    width: 100%;
    background: rgba(0, 0, 0, .87)
}


.single-post .single-heading {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    padding: 10px;
    font-size: 2em;
    display: block;
    width: 100%;
    -webkit-transition: All .5s;
    transition: All .5s;
}

@media only screen and (min-width:490px) {
    .single-post .single-heading {
        font-size: 3.5em
    }
}

.single-post .smaller {
    font-size: 1em
}

@media only screen and (min-width:490px) {
    .single-post .smaller {
        font-size: 2.5em
    }
}

.single-post .sidebar {
    z-index: -1
}


/*
@media only screen and (min-width:490px) {
    .single-post .sidebar1 {
        background-color: #fff;
        position: fixed;
        top: 150px;
        -webkit-transition: top .7s;
        transition: top .7s;
        width: 17%
    }
    .single-post article {
        margin-top: 200px
    }
}
*/
